<div class="container">

  <div class="header">
    <h2>Listado de Productos</h2>
    <button class="btn-nuevo" (click)="toggleFormulario()"> + Nuevo Producto </button>
  </div>

  <div class="filtros">
    <label>Código:</label>
    <input type="number" [(ngModel)]="filtroCodigo" placeholder="0"  >

    <label>Nombre:</label>
    <input type="text" [(ngModel)]="filtroNombre" placeholder="Nombre">

    <button (click)="filtrar()">🔍 Buscar</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Fecha</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of productos">
        <td>{{ p.id }}</td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.precio }}</td>
        <td>{{ p.fechaCreacion | date:'short' }}</td>
      </tr>
    </tbody>
  </table>

</div>

<div *ngIf="mostrarFormulario" class="modal-overlay">

  <div class="modal">

    <div class="modal-header">
      <h3>Agregar Producto</h3>
      <button class="close-btn" (click)="toggleFormulario()">✖</button>
    </div>

    <form (ngSubmit)="guardar()" class="modal-body">

      <input type="text" [(ngModel)]="nuevoProducto.nombre" name="nombre" placeholder="Nombre" required>

      <input type="number" [(ngModel)]="nuevoProducto.precio" name="precio" placeholder="Precio" pattern="^\d+(\.\d{1,2})?$" required>

      <input type="datetime-local" [(ngModel)]="nuevoProducto.fechaCreacion" name="fechaCreacion" required>

      <button type="submit" class="btn-guardar">Guardar</button>

    </form>
  </div>
</div>

